{% extends 'base.html' %} {% block content %}
<div class="dashboard-cards">
<div class="row row-form-title">
    Specify woe_id of two locations
    <br>
    <p>(To find out what's city's woe_id please visit <a target="_blank" href="http://www.woeidlookup.com/"> woeidlookup.com</a>)<p>
    <p> {{ message }} </p>
</div>
<br><br>
<form action="{{url_for('dashboard')}}" method="POST">
    <div class="row row-form-content">
        <div class="col-xs-6 col-md-4 col-lg-6 text-center">
            <div class="card form-card">
                    <i class="fas fa-3x fa-city"></i>
                    <br><br><br>
                    <input id="city_1" name="city_1" type="number" class="validate" required>
            </div>
        </div>
        <div class="col-xs-6  col-sm-6 col-md-4 col-lg-6 text-center">
            <div class="card form-card">
                    <i class="fas fa-3x fa-city"></i>
                    <br><br><br>
                    <input id="city_2" name="city_2" type="number" class="validate" required>
            </div>
        </div>
    </div>
<br><br>
<div class="row row-form-content">
    <button class="btn form-submit-button" type="submit">Submit</button>
</div>
</form>
</div>



<br>
<div class="row row-home-button">

        <a href="{{url_for('dashboard')}}" class="btn home-button">Back to Homepage</a>
</div>

{% endblock %}
