{% extends 'base.html' %} {% block content %}

<div class="dashboard-cards">
<div class="row row-title">
    Twitter Analytics
</div>

<div class="row row-cards">
    <div class="col-sm-6 col-md-3 col-lg-2 text-center">
        <div class="card dashboard-card">
            <div class="card-top">
                Trend Search
            </div>
            <div class="card-middle">
                Find out what is currently trending in US. Pick most interesting subject and guide your data sample through ETL pipeline to make it ready for sentiment analysis.
            </div>
            <div class="card-bottom">
                <a href="{{url_for('dashboard')}}" class="waves-effect waves-light btn-large" id="navigation">Trends</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2 text-center">
        <div class="card dashboard-card">
            <div class="card-top">
                Manage Database
            </div>
            <div class="card-middle">
                Get rid of obsolete collections from MongoDB or delete processed data from SQLite database.
            </div>
            <div class="card-bottom">
                <a href="{{url_for('dashboard')}}" class="waves-effect waves-light btn-large" id="navigation">Manage DB</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2 text-center">
        <div class="card dashboard-card">
            <div class="card-top">
                Sentiment Analysis
            </div>
            <div class="card-middle">
                Apply Deep learning LSTM model on previously stored Twitter dataset. Find out what's the dominating sentiment among conversation participants - positive, negative or neutral.
            </div>
            <div class="card-bottom">
                <a href="{{url_for('dashboard')}}" class="waves-effect waves-light btn-large" id="navigation">Analysis</a>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row row-title">
    Twitter API Features
</div>

<div class="row row-cards">
    <div class="col-sm-6 col-md-3 col-lg-2 text-center">
        <div class="card dashboard-card">
            <div class="card-top">
                Tale of Two Cities
            </div>
            <div class="card-middle">
                Find out what is currently trending in two chosen locations. Specify woe_id and find out common trends.
            </div>
            <div class="card-bottom">
                <a href="{{url_for('api_features_blueprint.twitter_trends')}}" class="waves-effect waves-light btn-large" id="navigation">Common</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2 text-center">
        <div class="card dashboard-card">
            <div class="card-top">
                Popular Retweets
            </div>
            <div class="card-middle">
                Choose a keyword and find out most popular tweets in a subject.
            </div>
            <div class="card-bottom">
                <a href="{{url_for('dashboard')}}" class="waves-effect waves-light btn-large" id="navigation">Retweets</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
