{% extends 'base.html' %} {% block content %}
<div class="card text-center" id="main_card">
    <br>
    <br>
    <div class="row">
        <div class="col-md-1 text-center"></div>
        <div class="col-md-10 text-center" style="background-color:#e6ecf0">
            {% for trend in clean_trends %}
            <div class="card text-center" id="tiny-card">
                <span><h4>#{{trend}}</h4></span>
                <span><a target="_blank" href="https://twitter.com/search?q={{trend}}&src=typd" class="waves-effect waves-light btn-small" id="btn-tiny"><i class="fab fa-twitter"></i></a></span>
            </div>
            {% endfor %}


        </div>
        <div class="col-md-1 text-center"></div>
    </div>

</div>
<div class="row text-center">
    <a href="{{url_for('twitter_trends')}}" class="waves-effect waves-light btn-large" style="background-color: #0d4861; d">Back to Trends</a>
</div>
{% endblock %}
