{% extends 'base.html' %} {% block content %}
<div class="card text-center" id="main_card">
    <div class="row">
        <img src="{{url_for('static', filename='img/etl/3.png')}}" style="width:1000px;height:80px;">
    </div>
    <div class="col-md-12 text-center" style="padding-left:6%">
        <div class="row text-center">
            <div class="col-md-3 text-center"></div>
            <div class="col-md-6 text-center">
                <div class="card text-center" id="table_card">
                    <h2>Tweet Text</h2>
                    <br>
                    <table style="width:100%">
                        {% for element in hashtag_tweets %}
                        <tr>
                            <td>{{ element.tweet }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-md-3 text-center"></div>
        </div>
    </div>
    <div class="row text-center">
        <a href="" class="waves-effect waves-light btn-large" style="background-color: #0d4861; d">Back</a>
    </div>
</div>
</div>
{% endblock %}
