{% extends 'base.html' %} {% block content %}
<div class="card text-center" id="main_card">
    <br>
    <br>
    <div class="row">
        <div class="col-md-2 text-center"></div>
        <div class="col-md-9 text-center">
            <div class="row">
                
            </div>
            <div class="row">
                <div class="card" id="dashboard_card">
                </div>
                <div class="card" id="dashboard_card">
                </div>
                <div class="card" id="dashboard_card">
                </div>
                <div class="card" id="dashboard_card">
                </div>

            </div>
        </div>
        <div class="col-md-1 text-center"></div>
    </div>
</div>

{% endblock %}
