{% extends 'base.html' %} {% block content %}
<div class="card text-center" id="main_card">

    <div class="row">
        <div class="col-md-3 text-center"></div>
        <div class="col-md-6 text-center">
            <div class="card text-center" id="action-card">
                <div class="row">
                    <div class="col-md-2 text-center"></div>
                    <div class="col-md-8 text-center">
                        <br>
                        <h3>Popular Retweets</h3>
                        <br>
                    </div>
                    <div class="col-md-2 text-center"></div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 text-center">

                    </div>
                    <div class="col-md-6 text-center">
                        <form action="{{url_for('most_retweets')}}" method="POST">
                            <div class="row">
                                <div class="input-field col s12">
                                    <h4>Keyword(s)<h4>
                                    <input id="keyword" name="keyword" type="text" class="validate" required>
                                </div>

                                <div class="input-field col s12">
                                    <h4>Max Results</h4>
                                    <input id="count" name="count" type="number" class="validate" max="5" required>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row text-center">
                                <button class="btn waves-effect waves-light" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 text-center"></div>

                </div>


                <div class="col-md-3 text-center"></div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
