{% extends 'base.html' %} {% block content %}
<div class="card text-center" id="main_card">
    <div class="row">
        <img src="{{url_for('static', filename='img/etl/1.png')}}"   style="width:1000px;height:80px;">
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-3 text-center"></div>
        <div class="col-md-6 text-center">

            <div class="card text-center" id="action-card">
                <div class="row">
                    <div class="col-md-2 text-center"></div>
                    <div class="col-md-8 text-center">
                        <br>
                        <h3>Hashtag Search</h3>
                        <br>
                    </div>
                    <div class="col-md-2 text-center"></div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 text-center"></div>
                    <div class="col-md-6 text-center">
                        <form action="{{url_for('tweets')}}" method="POST">
                            <div class="row">
                                <div class="input-field col s12">
                                    <h4>Trend<h4>
                                    {% for element in us_trends_list %}    
                                    
                                    <p>
                                    <label>
                                    <input class="with-gap" name="keyword" type="radio" value="{{element}}" checked />
                                    <span>{{element}}</span>
                                    </label>
                                    </p>
        
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <h4>Results (max.200)</h4>
                                    <input id="count" name="count" type="number" class="validate" max="200" required>
                                </div>
                            </div>
                            <br>
                            <br>
                            {% for element in us_trends_list %}
                            <h5>{{element}}</h5>
                            {% endfor %}
                            <div class="row text-center">
                                <button class="btn waves-effect waves-light" type="submit">Submit to DB</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 text-center"></div>
                </div>
                <div class="col-md-3 text-center"></div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
