{% extends 'base.html' %} {% block content %}
<div class="card text-center" id="main_card">
    <div class="row">
        <img src="{{url_for('static', filename='img/etl/1.png')}}" style="width:1000px;height:80px;">
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 text-center"></div>
        <div class="col-md-6 text-center">
            <form action="{{url_for('tweets')}}" method="POST">
                <div class="card text-center" id="action-card">
                    <div class="row">
                        <div class="col-md-2 text-center"></div>
                        <div class="col-md-8 text-center">
                            <br>
                            <h3>Choose Trend:</h3>
                            <br>
                        </div>
                        <div class="col-md-2 text-center"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-left">
                            {% for element in us_trends_list[:10] %}
                            <p>
                                <label>
                                    <input class="with-gap" name="trend" type="radio" value="{{element}}" checked />
                                    <span>{{element}}</span>
                                    </label>
                            </p>
                            {% endfor %}
                        </div>
                        <div class="col-md-3 text-left">
                            {% for element in us_trends_list[10:20] %}
                            <p>
                                <label>
                                    <input class="with-gap" name="trend" type="radio" value="{{element}}" checked />
                                    <span>{{element}}</span>
                                    </label>
                            </p>
                            {% endfor %}
                        </div>
                        <div class="col-md-3 text-left">
                            {% for element in us_trends_list[20:30] %}
                            <p>
                                <label>
                                    <input class="with-gap" name="trend" type="radio" value="{{element}}" checked />
                                    <span>{{element}}</span>
                                    </label>
                            </p>
                            {% endfor %}
                        </div>
                        <div class="col-md-3 text-left">
                            {% for element in us_trends_list[30:] %}
                            <p>
                                <label>
                                    <input class="with-gap" name="trend" type="radio" value="{{element}}" checked />
                                    <span>{{element}}</span>
                                    </label>
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card text-center" id="action-card">
                    <div class="row">
                        <div class="col-md-2 text-center"></div>
                        <div class="col-md-8 text-center">
                            <br>
                            <h3>Tweets Amount(max. 500):</h3>
                            <br>
                        </div>
                        <div class="col-md-2 text-center"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-center"></div>
                        <div class="col-md-6 text-center">
                            <input id="count" name="count" type="number" class="validate" max="500" required>
                        </div>
                        <div class="col-md-3 text-center"></div>
                    </div>


                </div>
                <div class="row text-center">
                    <button class="btn waves-effect waves-light" type="submit">Submit to DB</button>
                </div>

        </div>
        </form>
    </div>
    <div class="col-md-3 text-center"></div>
</div>
</div>

{% endblock %}
