{% extends 'base.html' %} {% block content %}
<div class="card text-center" id="main_card">
    <div class="col-md-12 text-center" style="padding-left:6%">
        <div class="row text-center">
            {% for element in data %}
            <div class="card" id="tweet">
                <p>{{element}}</p>
                
            </div>
            {% endfor %}
        </div>
        <div class="row text-center">
            <a href="{{url_for('retweet_popularity')}}" class="waves-effect waves-light btn-large" style="background-color: #0d4861; d">Return</a>
        </div>
    </div>
</div>
{% endblock %}
