{% extends 'base.html' %} {% block content %}
<div class="card text-center" id="main_card">
    <div class="row">
        <img src="{{url_for('static', filename='img/etl/2.png')}}"  style="width:1000px;height:80px;">
    </div>
    <br><br>
    <div class="row">
            <div class="row text-center">
            <h1>Tweets Overview:</h1>
            </div>    
            <div class="row text-center">
                <div class="col-md-1 text-center"></div>
                <div class="col-md-10 text-center">
                {% for element in tweet_list[:9] %}
                <div class="card" id="tweet">
                    <p>{{element[0]}}</p>
                    &mdash; {{element[2]}}
                    <a target="_blank" href="https://twitter.com/">{{element[1]}}</a>
                    <br>
                    <span><h5><i class="fas fa-retweet"></i> {{element[3]}}</h5></span>
                </div>
                {% endfor %}
                </div>
                <div class="col-md-1 text-center"></div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-4 text-center"></div>
                <div class="col-md-2 text-center">
                <a href="{{url_for('trend_search')}}" class="waves-effect waves-light btn-large" style="background-color: #0d4861">Back to Search</a>
                </div>
                <div class="col-md-2 text-center">
                <a href="{{url_for('data_transform', hashtag = keyword)}}" class="waves-effect waves-light btn-large" style="background-color: #6ba546">Transform</a>
                </div>
                <div class="col-md-4 text-center"></div>
            </div>
        
    </div>
</div>
{% endblock %}
