{% extends 'base.html' %} {% block content %}
<div class="card text-center" id="main_card">
    <div class="col-md-4 text-center"></div>
    <div class="col-md-4 text-center" style="padding-left:6%">
        <div class="row text-center">
            {% for element in most_popular_tweets %}
            <div class="card" id="tweet">
                <p>{{element[0]}}</p>
                &mdash; {{element[2]}}
                <a target="_blank" href="https://twitter.com/">{{element[1]}}</a>
                <br>
                <span><h5><i class="fas fa-retweet"></i> {{element[3]}}</h5></span>
            </div>
            {% endfor %}
        </div>
        <div class="row text-center">
            <a href="{{url_for('features_blueprint.retweet_popularity')}}" class="waves-effect waves-light btn-large" style="background-color: #0d4861; d">Back</a>
        </div>
    </div>
    <div class="col-md-4 text-center"></div>
</div>
{% endblock %}
